APP_LOG_LEVEL=INFO
APP_SECRET_KEY="from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"

JWT_ALGORYTHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

DB_ASYNC_PREFIX="postgresql+asyncpg"
DB_USER="user"
DB_PASSWORD="password"
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name

VK_API_VERSION=5.199
VK_GROUP_ID=
VK_ADMIN_ID=
VK_TOKEN=
